.place__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media (max-width: 600px) {
  .place__title {
    padding: 0 16px;
  }
}

@media (max-width: 540px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
  }
}
