.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 92px;
  max-width: calc(100% - 148px * 2);
}

@media (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    gap: 73px;
    margin-bottom: 90px;
  }

  .places .place:first-of-type .place__title {
    letter-spacing: 1px;
  }
}

@media (max-width: 600px) {
  .places {
    max-width: 100%;
    padding: 0;
    gap: 50px;
    margin-bottom: 66px;
  }
}
