.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media (max-width: 350px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
  }
}
