.header {
  margin: 0 auto;
  max-width: 1184px;
  margin-top: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 48px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 0 16px;
  }
}
