.link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1.5px solid #fff;
  transition: all 0.3s ease;
}

.link:active {
  border-bottom: 1.5px solid #fff;
}

.link:hover {
  color: #0a5fce;
  opacity: 0.9;
}

.link:focus {
  outline: 2px solid #054292;
  outline-offset: 3px;
}
