.link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1.5px solid #fff;
  transition: all 0.3s ease;
}

.link:active {
  border-bottom: 1.7px solid #fff;
}

.link:hover {
  opacity: 0.8;
}

.link:focus {
  outline: 2px solid fff;
  outline-offset: 3px;
}
