.lead__title {
  margin: 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  line-height: 104%;
  margin-bottom: 32px;
  margin-top: 56px;
}

@media (max-width: 690px) {
  .lead__title {
    font-size: 64px;
  }
}

@media (max-width: 540px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 16px;
  }
}
