.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: 120%;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    padding: 0 24px;
  }
}

@media (max-width: 690px) {
  .lead__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    padding: 0 16px;
  }
}
