.cover__background {
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
  background: url('../../../images/cover-trains.png') no-repeat;
  object-fit: contain;
  background-size: cover;
  margin-bottom: 92px;
  position: relative;
  opacity: 0.99;
}

.cover__background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__background {
    min-height: 480px;
    margin-bottom: 88px;
  }
}

@media (max-width: 540px) {
  .cover__background {
    min-height: 200px;
    margin-bottom: 64px;
    gap: 16px;
  }
}
