.cover__background {
  width: calc(100% - 96px);
  margin: 0 auto;
  padding: 245px 0;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
  background: url('../../../images/cover-trains.png') no-repeat;
  background-size: cover;
  margin-bottom: 92px;
  position: relative;
  opacity: 0.99;
}

.cover__background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2a2c2f;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}
