.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
}

@media (max-width: 540px) {
  .cover__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 109%;
  }
}
